/*
 * Stylesheet for BookStore project
 * DT354/4 Software Patterns
 * Stephen Brandon April 2014
 */

body{
	margin-left:auto;
	margin-right:auto;
	width:900px;
	font-family: sans-serif;
}

.store-title{
	color:#0026FF;
	font-size: 30px;
	font-weight: bold;
}